/* estilos.css */

:root {
  --color-fondo: #1a1a1a;
  --color-texto: #f2f2f2;
  --color-primario: #ff0000; /* tono fuego */
  --color-secundario: #c9a74f; /* dorado sutil */
  --color-acento: #7a3e28;
  --tipografia-principal: 'Georgia', serif;
  --tipografia-secundaria: 'Arial', sans-serif;
  --borde-letras:
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--tipografia-principal);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: var(--color-acento);
  padding: 1rem;
  text-align: center;
  color: var(--color-texto);
  border-bottom: 2px solid var(--color-primario);
}

nav {
  background: #2a2a2a;
  padding: 10px;
  padding-left: 10%;
}

nav a {
  color: var(--color-secundario);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  color: var(--color-primario);
}

ul {
    list-style: none;
}

main {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

h1, h2, h3 {
  color: var(--color-primario);
}

blockquote {
  border-left: 4px solid var(--color-secundario);
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: #ccc;
}

img {
  max-width: 80%;
  border-radius: 20px;
  margin: 1rem 0;
  margin-left: 10%;
}


footer {
  text-align: center;
  background: #111;
  color: #aaa;
  padding: 1rem;
  font-size: 0.9rem;
}
